body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: aliceblue;
    background-color: #0d0c0c;
}
.back{
    background-image: url("2.png");
    position: absolute;
    width: 100%;

}

.header {
    margin-top: -9px;
    padding-top: 25px;
    height: 56px;
    position: fixed;
    background: #0d0c0c;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: 1.1em;


}
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
   
.button-73 {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgba(248, 50, 0, 0.815);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
.button-73:hover {
    background: rgba(248, 50, 0, 0.815);
    box-shadow: 0 0 30px 5px rgba(248, 50, 0, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
.button-73:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
.button-73::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
.button-73:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
     
   
   
   
   

header nav {
    width: 32%;
    padding-right: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {

    font-size: 1.1em;
    color: aliceblue;
    text-decoration: none;
    position: relative;
}



.button- {
    appearance: none;
    background-color: gray;
    border-radius: 40em;
    border-style: none;
    /* box-shadow: #ADCFFF 0 -12px 6px inset; */
    box-sizing: border-box;
    color: #fffdfd;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-:hover {
    background-color: #ff4500;
    box-shadow: #FF6314 0 -6px 8px inset;
    transform: scale(1.125);
}

.button-7:active {
    transform: scale(1.025);
}

@media (min-width: 768px) {
    .button-73 {
        font-size: 1.5rem;
        padding: .75rem 2rem;
    }
}

.logo {
    padding: 15px;
    aspect-ratio: 16/9;
    width: 256px;
    height: 52px;
    padding-left: 44px;
    mix-blend-mode: lighten;
}

.pc{
    display: flex;
    justify-content: center;

}
.lap {
    width:60%;
    height:60%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(10px 7px 10px orangered);


}

.heading {
    padding-top: 225px;
    justify-content: center;
    display: flex;

}


.tagline {
    justify-content: center;
    display: flex;
    font-size: 3em;
    font-weight: 500;

}

.pow {
    color: orangered;
    display: flex;
    text-align: center;
}


.start{
    display: flex;
    justify-content:center;
    align-items: center;
    


}
.startcoding{
    font-size: 1.5em;
    color: aliceblue;
    border: 2px white;
    
    border-radius: 2px;
}
.free{
    padding-top: 7px;
    padding-left: 20px;
}
.info{
    width: 100%;
    height: 200px;
    background-color: black;
    text-align: center;
    padding-top: 5px;
    font-size: 1.1em;
}
.move{

    color: #ff4500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    font-size: 3em;
}

.user{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user2{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1{
    float: right;
    margin-right: 28px;
}
.detail1{
    margin: 150px auto;
    width: 70%;
}
.text-box1{
    color: orangered;
    
    padding-top: 40px;
   
}
.text-box1 h2{
    font-size: 42px;
  
}
.text-box1 p{
    font-size: 16px;
    color: aliceblue;
}
.img2{
    float: right;
    margin-right: 28px;
}
.detail2{
    margin: 150px auto;
    width: 70%;
}
.text-box2{
    color: orangered;
    padding-top: 40px;
   
}
.text-box2 h2{
    font-size: 42px;
  
}
.text-box2 p{
    font-size: 16px;
    color: aliceblue;
}
.img3{
    float: right;
    margin-right: 28px;
}
.detail3{
    margin: 150px auto;
    width: 70%;
}
.text-box3{
    color: orangered;
    margin-top: 30px;
    padding-top: 50px;
   
}
.text-box3 h2{
    font-size: 42px;
  
}
.text-box3 p{
    font-size: 16px;
    color: aliceblue;
}
.Ending{
    background-color: #17191f;
    width: 100%;
    height: 450px;
    color: #ffffff;
    margin-top: 55px;
}
.bt{
    height: 50px;
    width: 300px;
    padding-left: 190px;
    padding-top: 50px;
}
.endlg{
    padding-top: 90px;
    aspect-ratio: 16/9;
    width: 256px;
    height: 52px;
    padding-left: 210px;
    mix-blend-mode: lighten;
}
.Socials{
    display: flex;
    
    justify-content:center;
}