/* Flexbox container for sidebar and code section */
#container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 200px; /* Space between sidebar and code editor */
  padding: 20px;
}

/* Sidebar for language selection and inputs */
#sidebar {
  width: 400px;
  color: white;
  background-color: #1b2530; /* Slightly different background for the sidebar */
  padding: 20px;
  border-radius: 5px;
}

/* Code section styling */
#code-section {
  display: flex;
  flex-direction: column; 
  width:50rem;
}

#editor {
  height: 520px;
  width: 920px;
}

#output {
  height: 100px;
  width: 900px;
  margin-top: 10px;
  background-color: #1e1e1e;
  color: white;
  padding: 10px;
  border: 1px solid #333;
}

/* General body styling */
body {
  background-color: #111826;
  color: white;
  font-family: Arial, sans-serif;
}

#language{
  width: 300px;
  padding: 10px;
  font-weight: bold;
  font-size: 1em;
}

#userInput{
  width: 340px;
  height: 100px;
  padding: 10px;
  font-weight: bold;
  font-size: 1em;
}

#button{
  width: 100px;
  padding: 10px;
  font-weight: bold;
  font-size: 1em;
 
}
